<!doctype html>
<html lang="en" class="relative h-full">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Financial Wellness visuals</title>
    <link rel="stylesheet" type="text/css" href="{{ '/styles/index.css' | url }}" >
    {% if page.url === '/' %}
      <meta name="Algolia crawler" content="noindex">
    {% endif %}

    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ metadata.url }}{{ page.url }}">
    <meta property="og:title" content="{{ renderData.title or title or metadata.title }}">
    <meta property="og:description" content="{{ renderData.description or description or metadata.description }}">
    <meta property="og:image" content="{{ metadata.url }}/visuals_images/{{page.fileSlug}}.{{renderData.image_extension or image_extension}}">

    {% if tags %}
      {% for tag in tags %}        
        <meta property="article:tag" content="{{ tag }}">        
      {% endfor %}
    {% endif %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/instantsearch.css@7.4.5/themes/reset-min.css" integrity="sha256-QlHlZdbSVxaYkUHxhMFhAj/L3pJiW1LuomSCONXBWms=" crossorigin="anonymous">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
  </head>
  <body class="h-full flex flex-col bg-[#3E3D43] text-white">
    <main class="flex-[1_0_auto]">
      {{ content | safe }}
    </main>
    <footer class="shrink-0 w-full px-8 pb-8 pt-16 text-center">
      <p>Made with ☕️ and 🦴 by <a class="underline underline-offset-4 decoration-[#FFEB62]" href="https://twitter.com/PerroDinero">Perro Dinero</a>.
      <p>This is <a class="underline underline-offset-4 decoration-[#FFEB62]" href="https://github.com/davidojedalopez/brian-feroldi-visuals">Open Source</a>.</p>
    </footer>    
  </body>
</html>