<!doctype html>
<html lang="en" class="relative h-full">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hey!</title>
    <link rel="stylesheet" type="text/css" href="{{ '/styles/index.css' | url }}" >
    {% if page.url === '/' %}
      <meta name="Algolia crawler" content="noindex">
    {% endif %}

    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ metadata.url }}{{ page.url }}">
    <meta property="og:title" content="{{ renderData.title or title or metadata.title }}">
    <meta property="og:description" content="{{ renderData.description or description or metadata.description }}">
    <meta property="og:image" content="{{ metadata.url }}/visuals_images/{{page.fileSlug}}.{{renderData.image_extension or image_extension}}">

    {% if tags %}
      {% for tag in tags %}        
        <meta property="article:tag" content="{{ tag }}">        
      {% endfor %}
    {% endif %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/instantsearch.css@7.4.5/themes/reset-min.css" integrity="sha256-QlHlZdbSVxaYkUHxhMFhAj/L3pJiW1LuomSCONXBWms=" crossorigin="anonymous">
  </head>
  <body class="bg-[#3E3D43] text-white">
    <main>
      {{ content | safe }}
    </main>    
  </body>
</html>