---
layout: layouts/base.njk
permalink: "visuals/{{ page.fileSlug }}/"
---

<section class="flex flex-col place-items-center ">
  <h1 class="px-4 pt-8 text-2xl">{{ title }}</h1>
  <img class="pt-12 px-4" src="/visuals_images/{{ page.fileSlug }}.png" />
</section>